:root {
    --section-color-one: #ffffff;
    --section-color-two: #F6F6F6;
    --font-color-main: #070707;
    --font-color-no-accent: #828282;
}

@font-face {
    font-family: 'Girloy';
    src: url(../fonts/Gilroy-Medium.woff);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Girloy';
    src: url(../fonts/Gilroy-Bold.woff);
    font-weight: 700;
    font-display: swap;
}

.container {
    margin: 0 auto;
    width: min(90%, 58.88rem);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Girloy', Arial, sans-serif;
}

/* Убираем внутренние отступы */
/* ul[class],
ol[class] {
  padding: 0;
} */

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: inherit;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.section-accent {background-color: var(--section-color-two);}
/* класс секций с акцентным фоновым цветом */

.title {
    font-size: 2.125rem;
    font-weight: 700;
    text-align: center;
    color: var(--font-color-main)
}

.font-main {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.36rem;
    text-align: center;
    color: var(--font-color-main);
    /* свойства основных текстовых блоков */
}

.main--block {
    padding-bottom: 6.54em;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3.125em;
}

.main__item {
    flex: 1 1 100%;
}

.main__headline {
    font-size: 2.96rem;
    font-weight: 700;
    text-align: left;
    line-height: 112%;
    color: var(--font-color-main);
}

.main__name {
    text-align: center;
}

.main__change-lang {
    text-align: right;
}

.about--block {
    padding: 7.5em 0 6.69em 0;
}

.about__title {
    padding-bottom: 1em;
}

.about__text--block {
    max-width: 30.3rem;
    margin: 0 auto;
}

.about__text--block

.about__atrticle {
    padding-bottom: 2.8em;
}

.about__atrticle:last-child {
    padding: 0;
}

